/* SINTAXIS
selector{
  propiedad: valor;
  propiedad2: valor; */

* {
  margin: 0;
  padding: 0;
}
/* CLASS */


/* Todos mis h1 van a tener color negro */
h1{
  text-align: center;
  color: black;
  font-size: 35px;
}
h2{
  text-align: center;
  color: black;
  font-size: 35px;
  padding: 20px;
  margin-top: 20px;
}
p{
  text-justify: auto;
  border-width: 30px;
  
}
  
  /* ID */



#fondoGris{
  background-color: grey;
}
  

/*index*/
/* cambia la medida del rem, 1 rem = 10 px*/

html {
  font-size: 62, 5%;
}

.header-flex {
  display: flex;
  flex-direction: row;
}

body {
  background-color: rgb(109, 97, 97);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-position: center;
  margin: 15px;
  padding: 15px;
  border: 10px rgb(80, 80, 148);
}

/*las class son para que algo se diferencie del resto*/
.colorAzul {
  color: rgb(80, 71, 71);
  font-size: 15px;
  font-variant-position: super;
  text-align: left;
  line-height: 2;
  margin: 10px;
}

.colorAzul {
  color: rgb(80, 71, 71);
  font-size: 15px;
  font-variant-position: super;
  text-align: left;
}

.colorAzul {
  color: rgb(80, 71, 71);
  font-size: 15px;
  font-variant-position: super;
  text-align: left;
}

.colorazul {
  color: rgb(80, 71, 71);
  font-size: 15px;
  font-variant-position: super;
  text-align: left;
}
.tituloInicio {
  color: black 15px;
  font-style: italic;
  font-size: 50px;
  text-align: center;
}

.tituloContactos {
  color: black;
  font-style: italic;
  font-size: 50px;
  text-align: center;
}
.tituloImagenes {
  color: black;
  font-style: italic;
  font-size: 50px;
  text-align: center;
}

.tituloInformacion {
  color: black;
  font-style: italic;
  font-size: 50px;
  text-align: center;
}

.tituloGaleria {
  color: black;
  font-style: italic;
  font-size: 50px;
  text-align: center;
}



.redesFlotantes img {
  width: 50px;
}
.redesFlotantes img {
  width: 50px;
}



.menuPrincipal  {
  list-style-type: circle;
  text-align: justify center;
  font-size: 30px;
}


.principal__tituloTres {
  font-size: 15px;
  background-color: rgb(145, 131, 131);
  padding: 15px;
  border: solid 5px;
  margin: 15px;
  background-position: center;
}
.principal__tituloTres--gris {
  background-color: rgb(56, 50, 50);
  margin: 50px;
  padding: 50px;
  border: 5px black;
}

.galeria {
  background-color: beige;
}

ul {
  list-style: circle;

  text-align: left;
}

li {
  display: inline-flex;
  width: 25%;
  position: relative;
  font-size: 14px;
  padding: top;
  margin: 20px;
  text-align: center;
  background-color: rgb(179, 159, 159);
}

background-color: grey;
height: 400px;

display: flex;
flex-direction: row;
justify-content: wrap start;

/* flexbox imagenes */

.flexImagenTrin {
  background-color: grey;
  text-align: center;
  font-size: 50px;
}

.flexImagen {
  background-color: ;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flexImagen img {
  width: 150px;
  height: 150px;
  font-size: 50px;
  border: solid black 3px;
  justify-content: center;
  filter: grayscale(100%);
  transition: all 2s;
}
.flexImagen img:hover {
  height: 200px;
  width: 300px;
  margin: 20px;
  filter: none;
}

.flexPictureEntrenar {
  background-color: aliceblue;
  text-align: row;
  font-size: 30px;
  
}
.flexpicture {
  background-color: ;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3px;
  margin-inline: 3px;
}
.flexpicture img {
  width: 150px;
  height: 150px;
  font-size: 50px;
  border: solid black 3px;
  justify-content: center;
  filter: grayscale(100%);
  transition: all 2s;
}

.flexpicture img:hover {
  height: 160px;
  width: 180px;
  margin: 20px;
  filter: none;
}
.flexfotoRecientes {
  background-color: beige;
  text-align: center;
  font-size: 15px;
  flex-wrap: wrap;
}

.flexfoto img {
  width: 150px;
  height: 150px;
  font-size: 50px;
  border: solid black 2px;
  justify-content: center;
}
.flex-Seccion{
  display: flex;
  text-align: start;
  margin: 15px;
  
}
.flex-Historia p{
display: flex;
justify-content: flex-start;
margin-top: 10px;
}
.flex-contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-home div {
  display: flex;
  justify-content: center;
  margin: 10px;
}


.footer-home p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.main-contenido {
  display: flex;
  justify-content: center;
}

.main-Motivate div {
  display: flex;
  justify-content: start;
}
.main-Motivate p {
  display: flex;
  justify-content: start;
  margin-top: 10px;
}
.header-menu div {
  display: flex;
  justify-content: start;
}

.menuPrincipal {
  flex-direction: row;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(2fr 1fr);
  grid-template-rows: 0, 3fr 1fr 1fr 1fr 1fr;
  padding: 15px;
  grid-template-areas:
    "Informacion informacion"
    "menu menu"
    "entrenar entrenar"
    "seccion seccion"
    "footer footer";
  align-items: stretch;
}

.informacion {
  grid-template-areas: informacion;
  margin: 30px;
}
.header {
  grid-area: menu;
  margin: 30px;
}
.entrenar {
  grid-area: seccion;
  margin: 20px;
  text-align: center;
}

.contenido {
  width: 50px;
  max-width: 50px;
  margin: 30px auto;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2 1fr 1 fr;
}

.contenedor > div,
.contenedor .header,
.contenedor .main,
.contenedor .footer .h1-informacion {
  grid-template-areas: menu "img";
}

.header-menu {
  grid-template-areas: menu "img";
}
.main-entrenar {
  grid-template-columns: (2fr 1fr);
  grid-template-areas: "1img" "2img";
}
.seccion-seccion div{
  text-align: center;
  
}

.header- {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.header-flex nav a {
  list-style: none;
  display: row;
  background-color: black;
  padding: 0, 5px;
  margin: 0, 5x;
}
.header-flex nav a {
  text-decoration: none;
  color: rgb(231, 218, 218);
  font-weight: 400;
}

/* media cueries */

@media (max-width: 700px) {
  .h1-informacion {
    display: flex;
    flex-wrap: 1 fr 1;
  }

  .header-menu {
    flex-wrap: menu "img";
  }
  

.seccion-seccion p{
  flex-direction: column;
  text-align: center;
}

.footer-flex {
  flex-direction: column;
}
/* gradientes */


