/* CONDICIONALES */
body {
  background-color: lightblue; }

/* DECLARAR EL MAPA */
/* CREAR EL BUCLE */
.btn--redes {
  background-color: blue; }

.btn--redes {
  background-color: lightblue; }

/* EACH */
.gym {
  background-image: url("../multimedia/gym.jpg");
  background: no-repeat; }

.gym {
  background-image: url("../multimedia/gym.jpg");
  background: no-repeat; }

.gym {
  background-image: url("../multimedia/gym.jpg");
  background: no-repeat; }

/* MAP GET */
/* DECLAR EL MAPA */
.cajaMap {
  background-color: blue;
  text-align: star;
  padding: 10px; }

.cajaMap2 {
  text-align: star;
  font-size: lightblue; }

/* MIXINS */
.picture {
  width: 150px;
  height: 150px; }

/* EXTEND */
/* Traer los estilos de otras clases y se puedan sumar a los propios */
.boton, .boton--registrarse {
  width: 100px;
  height: 50px;
  background-color: blue;
  text-align: center;
  color: black;
  border: 1px solid black; }

.boton--registrarse {
  background-color: white; }

.house-flex {
  display: flex;
  flex-direction: column; }
  .house-flex .actividades-flex {
    display: flex;
    align-items: center;
    justify-content: center; }
  .house-flex ul {
    list-style: circle;
    text-align: relative; }
    .house-flex ul li {
      display: inline-flex;
      width: 30%;
      position: relative;
      font-size: 16px;
      padding: top;
      margin: 20px;
      text-align: center;
      background-color: #eeecf8; }

.flexPictureEntrenar {
  background-color: aliceblue;
  text-align: center;
  font-size: 50px; }

.flexpicture {
  background-color: none;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  margin-inline: 15px;
  margin-bottom: 80px; }

.flexpicture img {
  width: 150px;
  height: 150px;
  font-size: 50px;
  border: solid black 3px;
  justify-content: center;
  filter: grayscale(100%);
  transition: all 2s; }

.flexpicture img:hover {
  height: 200px;
  width: 300px;
  margin: 20px;
  filter: none; }

.footer-home div {
  display: flex;
  justify-content: start;
  align-items: center; }
  .footer-home div img {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    padding: 10px; }
  .footer-home div p {
    display: flex;
    justify-content: start; }

* {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

header,
footer {
  background-color: aliceblue;
  border-style: solid;
  border-radius: 20px;
  padding: 5px;
  text-align: center; }

h1 {
  text-align: center;
  color: white;
  font-size: 35px;
  padding: 20px;
  margin-top: 20px;
  font-size: oblique; }

h2 {
  text-align: center;
  color: white;
  font-size: 35px;
  padding: 20px;
  margin-top: 20px;
  font-style: oblique; }

h3 {
  text-align: start;
  color: white;
  font-style: italic;
  font-size: 15px;
  margin-top: 15px; }

ul {
  color: black;
  font-size: 30px; }

li {
  color: white;
  font-size: italic;
  list-style: none; }

p {
  font-style: italic;
  color: #0a0909;
  font-size: 17px; }

/* CAMBIA LA MEDIDA DEL REM. 1 REM = 10PX */
html {
  font-size: 62, 5%; }

/* INDEX */
body {
  background-color: #1d20ce;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-position: right center;
  background-repeat: no-repeat;
  margin: 15px;
  padding: 15px;
  border: 10px #1515a3; }

/* INDEX HTML */
.bg-white {
  background-color: white; }

.btn-dark {
  background-color: #35357e;
  border-radius: black;
  transition: all; }

.nav-expand-lg .navbar-nav .nav-link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.nav {
  text-decoration: none;
  display: flex;
  flex-direction: column; }

.flexbox-container-video {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center; }

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; }

.flexbox-container > div {
  width: 25%;
  padding: 10px; }

.imagenes-flex {
  display: flex;
  flex-direction: column; }

.menuPrincipal {
  list-style-type: circle;
  text-align: center;
  font-size: 30px; }

.principal__tituloTres {
  font-size: 15px;
  background-color: #393988;
  padding: 15px;
  border: solid 5px;
  margin: 15px;
  background-position: center; }

.principal__tituloTres {
  font-size: 15px;
  background-color: #393988;
  padding: 15px;
  border: solid 5px;
  margin: 15px;
  background-position: center; }

.principal__tituloTres--gris {
  background-color: #dfc7c7;
  margin: 20px;
  padding: 20px;
  border: 5px black; }

.redesFlotantes img {
  width: 50px;
  height: 50px;
  text-align: center; }

.imagenes-flex {
  display: flex;
  flex-direction: column; }

.entrenamientos-flex {
  display: flex;
  align-items: center;
  justify-content: center; }

ul {
  list-style: circle;
  text-align: start; }

ul li {
  display: inline-flex;
  width: 40%;
  position: relative;
  font-size: 16px;
  padding: top;
  margin: 40px;
  text-align: center;
  background-color: #f8f5f5; }

.home-flex {
  display: flex;
  flex-direction: column;
  /* IMAGEN HTML */
  /* sass galeria variables, important */
  /* GALERIA HTML */
  /* INFORMACION HTML */ }
  .home-flex .main-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin: 10px; }
  .home-flex ul {
    list-style: circle;
    text-align: start; }
  .home-flex li {
    display: inline-flex;
    width: 40%;
    position: relative;
    font-size: 16px;
    padding: top;
    margin: 40px;
    text-align: start;
    background-color: #f8f5f5; }
  .home-flex .footer-home {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    margin: 40px; }
  .home-flex .footer-home div {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    width: 80px; }
  .home-flex .footer-home div img {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    padding: 20px; }
  .home-flex .footer-home div p {
    display: flex;
    justify-content: start; }
  .home-flex .mpic {
    width: 80px; }
  .home-flex .picture {
    width: 80px;
    padding: 10px; }
  .home-flex .bg-white {
    background-color: white; }
    .home-flex .bg-white .nav-expand-lg .navbar-nav .nav-link {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: end; }
    .home-flex .bg-white .btn-outline-dark {
      background-color: #4a4adb;
      border-radius: black;
      transition: all; }
    .home-flex .bg-white .flex-foto {
      display: flex;
      flex-direction: column; }
    .home-flex .bg-white .flex-casa {
      display: flex; }
      .home-flex .bg-white .flex-casa ul {
        list-style: circle;
        text-align: relative; }
        .home-flex .bg-white .flex-casa ul li {
          display: inline-flex;
          width: 30%;
          position: relative;
          font-size: 16px;
          padding: top;
          margin: 20px;
          text-align: center;
          background-color: #eeecf8; }
    .home-flex .bg-white .pic {
      width: 80px;
      height: auto;
      justify-content: center;
      border-color: black;
      margin: 2px;
      padding: 2px; }
    .home-flex .bg-white .row {
      display: flex;
      flex-wrap: wrap; }
    .home-flex .bg-white .footer-home {
      display: flex;
      justify-content: center;
      background-color: aliceblue;
      margin: 10px; }
    .home-flex .bg-white .footer-home div {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      background-color: aliceblue; }
    .home-flex .bg-white p {
      display: flex;
      justify-content: center;
      background-color: aliceblue;
      padding-top: 10px; }
  .home-flex .house-flex {
    display: flex;
    flex-direction: column; }
    .home-flex .house-flex .actividades-flex {
      display: flex;
      align-items: center;
      justify-content: center; }
    .home-flex .house-flex ul {
      list-style: circle;
      text-align: relative; }
      .home-flex .house-flex ul li {
        display: inline-flex;
        width: 30%;
        position: relative;
        font-size: 16px;
        padding: top;
        margin: 20px;
        text-align: center;
        background-color: #eeecf8; }
  .home-flex .footer-home {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    margin: 10px; }
    .home-flex .footer-home .footer-home div {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      background-color: aliceblue; }
    .home-flex .footer-home p {
      display: flex;
      justify-content: center;
      background-color: aliceblue;
      padding-top: 10px; }
  .home-flex .bg-white {
    background-color: white; }
  .home-flex .nav-expand-lg .navbar-nav .nav-link {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
  .home-flex .contenedor-fluid {
    display: flex; }
  .home-flex .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    justify-content: space-evenly; }
  .home-flex .house-flex {
    display: flex;
    flex-direction: column; }
    .home-flex .house-flex .actividades-flex {
      display: flex;
      align-items: center;
      justify-content: center; }
    .home-flex .house-flex ul {
      list-style: circle;
      text-align: relative; }
      .home-flex .house-flex ul li {
        display: inline-flex;
        width: 30%;
        position: relative;
        font-size: 16px;
        padding: top;
        margin: 20px;
        text-align: center;
        background-color: #eeecf8; }
  .home-flex .footer-home {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    margin: 10px; }
    .home-flex .footer-home .footer-home div {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      background-color: aliceblue; }
    .home-flex .footer-home p {
      display: flex;
      justify-content: center;
      background-color: aliceblue;
      padding-top: 10px; }
  .home-flex .bg-white {
    background-color: white; }
  .home-flex .btn-dark {
    background-color: #4a4adb;
    border-radius: black;
    transition: all; }
  .home-flex .nav-expand-lg .navbar-nav .nav-link {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }

.btn-outline-dark {
  background-color: #4a4adb;
  margin: 10px;
  border-radius: black; }

.Alinear_flex {
  display: flex;
  justify-content: center; }

.footer-home {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  margin: 10px; }
  .footer-home .footer-home div {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: aliceblue; }
  .footer-home p {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding-top: 10px; }

/*CONTACTOS HTML  */
.bg-white {
  background-color: white; }

.nav-expand-lg .navbar-nav .nav-link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.btn-dark {
  background-color: #4a4adb;
  border-radius: black;
  transition: all; }

.footer-home {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  margin: 10px; }
  .footer-home .footer-home div {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: aliceblue; }
    .footer-home .footer-home div p {
      display: flex;
      justify-content: center;
      background-color: aliceblue;
      padding-top: 10px; }
