.house-flex {
  display: flex;
  flex-direction: column;
  .actividades-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul {
    list-style: circle;
    text-align: relative;
    li {
      display: inline-flex;
      width: 30%;
      position: relative;
      font-size: 16px;
      padding: top;
      margin: 20px;
      text-align: center;
      background-color: rgb(238, 236, 248);
    }
  }
}

.flexPictureEntrenar {
  background-color: aliceblue;
  text-align: center;
  font-size: 50px;
}
.flexpicture {
  background-color: none;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  margin-inline: 15px;
  margin-bottom: 80px;
}
.flexpicture img {
  width: 150px;
  height: 150px;
  font-size: 50px;
  border: solid black 3px;
  justify-content: center;
  filter: grayscale(100%);
  transition: all 2s;
}

.flexpicture img:hover {
  height: 200px;
  width: 300px;
  margin: 20px;
  filter: none;
}

.footer-home div {
  display: flex;
  justify-content: start;
  align-items: center;
  img {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    padding: 10px;
  }
  p {
    display: flex;
    justify-content: start;
  }
}

.card {
  margin: 20px;
}
