$colorprincipal: grey;
$colorsecundario: green;
$colorTerciario: red;

$tamañoTexto: green;

/* CONDICIONALES */

$primavera: verano;

body {
  @if $primavera == verano {
    background-color: lightblue;
  } @else if $primavera == invierno {
    background-color: grey;
  }
}

/* DECLARAR EL MAPA */

$redes: (
  facebook: blue,
  instagram: lightblue,
);

/* CREAR EL BUCLE */
@each $red, $color in $redes {
  .btn--#{redes} {
    background-color: $color;
  }
}

/* EACH */

@each $gym in imagen 6, imagen 7, imagen 8 {
  .#{gym} {
    background-image: url("../multimedia/#{gym}.jpg");
    background: no-repeat;
  }
}

/* MAP GET */

/* DECLAR EL MAPA */

$estilos: (
  color: blue,
  alineacion: star,
  padding: 10px,
);

.cajaMap {
  background-color: map-get($estilos, color);
  text-align: map-get($estilos, alineacion);
  padding: map-get($estilos, padding);
}

.cajaMap2 {
  text-align: map-get($estilos, alineacion);
  font-size: map-get($redes, instagram);
}
/* MIXINS */

@mixin sizes($ancho, $altura) {
  width: $ancho;
  height: $altura;
}

.picture {
  @include sizes(150px, 150px);
}

/* EXTEND */
/* Traer los estilos de otras clases y se puedan sumar a los propios */

.boton {
  width: 100px;
  height: 50px;
  background-color: blue;
  text-align: center;
  color: black;
  border: 1px solid black;
}

.boton--registrarse {
  @extend .boton;
  background-color: white;
}
